$colorpink: #DDBEAA ;
$colorlight: #E5E3E4;
$colormedium: #BBC6C8;
$colormediumd:#8d8f8fAF;
$colordark:#5BA199;
$colorback:#476360AF ;
$colorvivid:#469597; 
$myfont:'Noto Sans', sans-serif; 
$myfontbold:  'Roboto', sans-serif;
$fontsizemedium:0.938rem;
$fontsizetitle:1.375rem;
$fontsizesmall:0.625rem;
